<div [appLoader]="loadingCelebs">
  <ng-container *ngIf="celebDetail">
    <div class="row mt-3">
      <div class="col-sm-12 col-md-3">
        <img
          appImageLoader
          [src]="_configurationService.imageUrl + celebDetail.profile_path"
          class="img-fluid rounded"
          *ngIf="celebDetail.profile_path"
        />
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h2 class="mb-1">Personal Info</h2></li>
          <li class="list-group-item">
            <p class="fw-bold mb-0">Known For</p>
            <p>{{ celebDetail.known_for_department }}</p>
          </li>
          <li class="list-group-item">
            <p class="fw-bold mb-0">Gender</p>
            <p>{{ celebDetail.gender === 1 ? "Female" : "Male" }}</p>
          </li>
          <li class="list-group-item">
            <p class="fw-bold mb-0">Birthdate</p>
            <p>
              {{ celebDetail.birthday | date: "dd MMM, yyyy" }} ({{
                calculateDate(celebDetail.birthday)
              }}
              years old)
            </p>
          </li>
          <li class="list-group-item">
            <p class="fw-bold mb-0">Place of Birth</p>
            <p>{{ celebDetail.place_of_birth }}</p>
          </li>
          <li class="list-group-item">
            <p class="fw-bold">Also known as</p>
            <p class="mb-0" *ngFor="let aka of celebDetail.also_known_as">
              {{ aka }}
            </p>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-9">
        <h1 class="fw-bold">{{ celebDetail.name }}</h1>
        <ng-container *ngIf="celebDetail.biography">
          <h2>Biography</h2>
          <p [innerHTML]="celebDetail.biography"></p>
        </ng-container>
        <ng-container *ngIf="combinedCredits">
          <h2>Known For</h2>
          <div class="row row-cols-md-5">
            <div class="col" *ngFor="let credits of fewCredits">
              <a
                [routerLink]="(credits.media_type == 'tv')? ['/tv-show/details', credits.id]:['/movies/details', credits.id]"
                class="text-decoration-none text-dark"
              >
                <div class="card card-radius h-100">
                  <img
                    appImageLoader
                    [src]="_configurationService.imageUrl + credits.poster_path"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <ng-container
                      [ngTemplateOutlet]="
                        credits.media_type == 'tv' ? forTV : forMovie
                      "
                      [ngTemplateOutletContext]="{ credit: credits }"
                    ></ng-container>
                    <p class="card-subtitle mb-2">
                      {{ credits.character }}
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <h2 class="mt-2">Roles & Credits</h2>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let credits of combinedCredits.cast"
            >
              <ng-container
                [ngTemplateOutlet]="
                  credits.media_type == 'tv' ? listTv : listMovie
                "
                [ngTemplateOutletContext]="{ credit: credits }"
              ></ng-container>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>


<ng-template #forTV let-credit="credit">
  <p class="card-title fw-bold mb-0">
    {{ credit.original_name }}
    <span *ngIf="credit.original_name !== credit.name"
      >({{ credit.name }})</span
    >
  </p>
</ng-template>

<ng-template #forMovie let-credit="credit">
  <p class="card-title fw-bold mb-0">
    {{ credit.original_title }}
    <span *ngIf="credit.original_title !== credit.title"
      >({{ credit.title }})</span
    >
  </p>
</ng-template>

<ng-template #listTv let-credit="credit">
  <p class="mb-1">
    <a [routerLink]="['/tv-show/details', credit.id]" class="credits-link"
      >{{ credit.original_name }}
      <span *ngIf="credit.original_name !== credit.name"
        >({{ credit.name }})</span
      ></a
    >
    <span class="text-muted" *ngIf="credit.character">as {{ credit.character }}</span>
  </p>
</ng-template>

<ng-template #listMovie let-credit="credit">
  <p class="mb-1">
    <a [routerLink]="['/movies/details', credit.id]" class="credits-link"
      >{{ credit.original_title }}
      <span *ngIf="credit.original_title !== credit.title"
        >({{ credit.title }})</span
      ></a
    >
    as <span class="text-muted">{{ credit.character }}</span>
  </p>
</ng-template>
