<ng-container *ngIf="tvShowDetail">
  <div
    class="backdrop-image"
    [ngClass]="viewMore ? 'mt-3' : ''"
    [ngStyle]="{
      'background-image':
        'url(' + _configuration.imageUrl + tvShowDetail.backdrop_path + ')'
    }"
  >
    <div class="overlay">
      <div class="row p-4">
        <div class="col-sm-12 col-md-4">
          <a
            mat-dialog-close
            [matTooltip]="'View Full Detail'"
            [routerLink]="['/tv-show/details', tvShowDetail.id]"
            *ngIf="!viewMore; else noLinkImage"
          >
            <div class="position-relative">
              <img
                [src]="_configuration.imageUrl + tvShowDetail.poster_path"
                class="img-fluid"
              />
              <div class="ratings">
                <mat-spinner
                  color="accent"
                  [diameter]="50"
                  mode="determinate"
                  [value]="tvShowDetail.vote_average * 10"
                >
                </mat-spinner>

                <span class="percentage"
                  >{{ tvShowDetail.vote_average * 10 }}%</span
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-8">
          <h2 class="mb-0">
            <!-- {{ tvShowDetail.title }}({{
              tvShowDetail.release_date | date: "yyyy"
            }}) -->
            <ng-container
              [ngTemplateOutlet]="!viewMore ? withLink : basicTitle"
              [ngTemplateOutletContext]="{ details: tvShowDetail }"
            ></ng-container>
          </h2>
          <h4 class="text-muted detail-subtitle">
            <span>
              <ng-container
                *ngFor="let genre of tvShowDetail.genres; let i = index"
              >
                {{ genre.name }}
                <span *ngIf="i != tvShowDetail.genres.length - 1">,</span>
              </ng-container>
            </span>
          </h4>
          <!-- <div class="mb-3 spinner-pos">
            <mat-spinner
              color="accent"
              [diameter]="50"
              mode="determinate"
              [value]="tvShowDetail.vote_average * 10"
            >
            </mat-spinner>
            <span class="percentage"
              >{{ tvShowDetail.vote_average * 10 }}%</span
            >
            <span class="mt-1">User Vote</span>
          </div> -->
          <blockquote
            class="fst-italic blockquote quotations"
            *ngIf="tvShowDetail.tagline"
          >
            {{ tvShowDetail.tagline }}
          </blockquote>
          <h2>Overview</h2>
          <p>
            {{ tvShowDetail.overview }}
          </p>
          <div class="row mb-3">
            <div class="col-12">
              <h2>Production</h2>
            </div>
            <div class="col-12">
              <ng-container
                *ngFor="let production of tvShowDetail.production_companies"
              >
                <span class="me-2 pc-bg" [matTooltip]="production.name">{{
                  pcInitials(production.name)
                }}</span>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="mb-0 fw-bold">No. of Season</p>
              <p class="mb-0">{{ tvShowDetail.number_of_seasons }}</p>
            </div>
            <div class="col">
              <p class="mb-0 fw-bold">No. of Episodes</p>
              <p class="mb-0">{{ tvShowDetail.number_of_episodes }}</p>
            </div>
            <div class="col">
              <p class="mb-0 fw-bold">Homepage</p>
              <a
                [href]="tvShowDetail.homepage"
                target="_blank"
                class="homepage-link"
                >{{ tvShowDetail.original_name }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="viewMore">
  <ng-container *ngIf="tvShowCredits">
    <div class="row mt-3">
      <div class="col-sm-12 col-md-8">
        <div class="row row-cols-1 row-cols-5">
          <div class="col" *ngFor="let credit of tvShowCredits">
            <a
              [routerLink]="['/people', credit.id]"
              class="text-dark homepage-link"
            >
              <div class="card card-radius h-100">
                <img
                  [src]="_configuration.imageUrl + credit.profile_path"
                  [alt]="credit.name"
                  class="card-img-top"
                  *ngIf="credit.profile_path"
                />
                <div class="card-body">
                  <p class="card-title fw-bold mb-0">{{ credit.name }}</p>
                  <p class="fst-italic text-muted">{{ credit.character }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2 class="cast-crew mt-3">
              <a [routerLink]="" (click)="openDialog()">Full Cast & Crew >></a>
            </h2>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12"  *ngIf="tvShowDetail.seasons.length > 0">
            <h2>Current Season</h2>
            <a [routerLink]="['season', tvShowDetail.seasons[tvShowDetail.seasons.length - 1].season_number]" class="text-decoration-none text-dark">
              <div
                class="card card-radius"

              >
                <div class="row">
                  <div class="col-3">
                    <img
                      [src]="
                        _configuration.imageUrl +
                        tvShowDetail.seasons[tvShowDetail.seasons.length - 1]
                          .poster_path
                      "
                      class="img-fluid card-img-top"
                    />
                  </div>
                  <div class="col-9">
                    <h2 class="mb-0">
                      {{
                        tvShowDetail.seasons[tvShowDetail.seasons.length - 1]
                          .name
                      }}
                    </h2>
                    <h3>
                      {{
                        tvShowDetail.seasons[tvShowDetail.seasons.length - 1]
                          .air_date | date: "yyyy"
                      }}
                      |
                      {{
                        tvShowDetail.seasons[tvShowDetail.seasons.length - 1]
                          .episode_count
                      }}
                      Episodes
                    </h3>
                    <p class="mb-1">
                      {{
                        tvShowDetail.seasons[tvShowDetail.seasons.length - 1]
                          .overview
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </a>

            <div class="row">
              <div class="col-12">
                <h2 class="cast-crew mt-3">
                  <a [routerLink]="" (click)="openDialog('season')"
                    >View All Seasons >></a
                  >
                </h2>
              </div>
            </div>
          </div>
        </div>

        <ng-container *ngIf="tvShowReviews">
          <div class="row">
            <div class="col-8">
              <div
                class="card mb-3"
                *ngFor="let reviews of tvShowReviews.results"
              >
                <div class="card-body">
                  <div class="row g-0">
                    <div class="col-2">
                      <img
                        [src]="
                          reviews.author_details.avatar_path.includes('http')
                            ? reviews.author_details.avatar_path.substring(1)
                            : _configuration.imageUrl +
                              reviews.author_details.avatar_path
                        "
                        [alt]="reviews.author"
                        class="img-fluid"
                        *ngIf="reviews.author_details.avatar_path"
                      />
                    </div>
                    <div class="col-10 ps-2">
                      <h2
                        class="
                          mt-0
                          mb-0
                          d-flex
                          justify-content-start
                          align-items-center
                        "
                      >
                        A Review written by {{ reviews.author }}
                      </h2>
                      <p class="mb-0">
                        at {{ reviews.created_at | date: "dd MMM, yyyy" }}
                      </p>
                      <p class="text-truncate">{{ reviews.content }}</p>
                      <a href="#" class="stretched-link">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <hr />
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="fw-bold mb-0">Status</p>
                <p>{{ tvShowDetail.status }}</p>
              </li>
              <li class="list-group-item">
                <p class="fw-bold mb-0">First Air Date</p>
                <p>{{ tvShowDetail.first_air_date | date: "dd MMM, yyyy" }}</p>
              </li>
              <li class="list-group-item" *ngIf="tvShowDetail.last_air_date">
                <p class="fw-bold mb-0">Last Air Date</p>
                <p>{{ tvShowDetail.last_air_date | date: "dd MMM, yyyy" }}</p>
              </li>
              <li class="list-group-item">
                <p class="fw-bold mb-0">Keywords</p>
                <mat-chip-list *ngIf="tvShowKeywords">
                  <mat-chip *ngFor="let keywords of tvShowKeywords">{{
                    keywords.name
                  }}</mat-chip>
                </mat-chip-list>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #basicTitle let-detail="details">
  {{ detail.name }}({{ detail.first_air_date | date: "yyyy" }})
</ng-template>

<ng-template #withLink let-detail="details">
  <div class="d-flex">
    <a
      mat-dialog-close
      [matTooltip]="'View Full Detail'"
      [routerLink]="['/tv-show/details', tvShowDetail.id]"
      class="homepage-link me-auto"
    >
      {{ detail.name }}({{ detail.first_air_date | date: "yyyy" }})
    </a>
    <a mat-dialog-close [routerLink]="" class="mb-0 homepage-link">
      <mat-icon>cancel</mat-icon>
    </a>
  </div>
</ng-template>
<ng-template #noLinkImage>
  <div class="position-relative">
    <img
      [src]="_configuration.imageUrl + tvShowDetail.poster_path"
      class="img-fluid"
    />
    <div class="ratings">
      <mat-spinner
        color="accent"
        [diameter]="50"
        mode="determinate"
        [value]="tvShowDetail.vote_average * 10"
      >
      </mat-spinner>

      <span class="percentage">{{ tvShowDetail.vote_average * 10 }}%</span>
    </div>
  </div>
</ng-template>

<ng-template #alltvShowCreditsDialog>
  <h1 mat-dialog-title>Credits</h1>
  <div mat-dialog-content>
    <ng-container *ngIf="alltvShowCredits">
      <div class="row">
        <div class="col-6">
          <h1>Cast</h1>
          <div class="row">
            <div
              class="col-sm-12 col-md-6"
              *ngFor="let cast of alltvShowCredits.cast"
            >
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img
                    [src]="
                      _configuration._config.images.base_url +
                      _configuration._config.images.profile_sizes[0] +
                      cast.profile_path
                    "
                    [alt]="cast.name"
                    *ngIf="cast.profile_path"
                  />
                </div>
                <div class="flex-grow-1 ms-2">
                  <p class="mb-0 fw-bold">{{ cast.name }}</p>
                  <p>{{ cast.character }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <h1>Crew</h1>
          <div class="row">
            <div class="col-4" *ngFor="let crew of alltvShowCredits.crew">
              <p class="mb-0 fw-bold">{{ crew.name }}</p>
              <p>{{ crew.job }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <h2 class="mb-2" *ngIf="alltvShowCredits.cast.length > 0">Cast</h2>
      <div class="row row-cols-5">
        <div class="col p-0" *ngFor="let cast of alltvShowCredits.cast">
          <a
            [routerLink]=""
            class="text-decoration-none text-dark"
            (click)="closeDialog(cast.id)"
          >
            <div class="card">
              <img
                [src]="
                  _configuration._config.images.base_url +
                  _configuration._config.images.profile_sizes[1] +
                  cast.profile_path
                "
                class="card-img-top rounded"
                *ngIf="cast.profile_path; else noImageFound"
              />

              <div class="card-image-overlay p-0">
                <div class="card-text-overlay p-4">
                  <p class="mb-0">{{ cast.name }}</p>
                  <p class="mb-0">{{ cast.character }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div> -->
      <!-- <h2 class="mb-2" *ngIf="alltvShowCredits.crew.length > 0">Crew</h2>
      <div class="row row-cols-5">
        <div class="col p-0" *ngFor="let crew of alltvShowCredits.crew">
          <a
            [routerLink]=""
            class="text-decoration-none text-dark"
            (click)="closeDialog(crew.id)"
          >
            <div class="card">
              <img
                [src]="
                  _configuration._config.images.base_url +
                  _configuration._config.images.profile_sizes[1] +
                  crew.profile_path
                "
                class="card-img-top rounded"
                *ngIf="crew.profile_path; else noImageFound"
              />

              <div class="card-image-overlay p-0">
                <div class="card-text-overlay p-4">
                  <p class="mb-0">{{ crew.name }}</p>
                  <p class="mb-0">{{ crew.job }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div> -->
    </ng-container>
  </div>
</ng-template>

<ng-template #noImageFound>
  <img
    src="assets/avatars/avatar-2191918_1920.png"
    class="card-img-top rounded"
  />
</ng-template>

<ng-template #allSeasons>
  <ng-container *ngIf="tvShowDetail.seasons.length > 0">
    <div mat-dialog-content>
      <div class="card" *ngFor="let season of tvShowDetail.seasons">
        <div class="row">
          <div class="col-3">
            <img
              [src]="_configuration.imageUrl + season.poster_path"
              class="img-fluid"
            />
          </div>
          <div class="col-9">
            <h2 class="mb-0">
              {{ season.name }}
            </h2>
            <h3>
              {{ season.air_date | date: "yyyy" }}
              |
              {{ season.episode_count }}
              Episodes
            </h3>
            <p class="mb-1">
              {{ season.overview }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
