.still-images-radius{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}


.still-images-height{
  height: 127px;
}
.card-radius-only{
  border-radius: 1rem;
}

.expand-border{
  border-bottom: 1px solid #e1e1e1;
  border-bottom-left-radius: 1rem;
}

.slide-up, .slide-down{
  overflow-y: hidden;
  transform: scaleY(0);
  transform-origin: left top;
  transition: all 1000ms ease-in-out;
}

.slide-down{
  transform: scaleY(1);
}
