<ng-container *ngIf="seasonDetails">
  <div class="d-flex header py-4">
    <div class="flex-shrink-0">
      <img
        [src]="
          _configuration._config.images.base_url +
          _configuration._config.images.poster_sizes[0] +
          seasonDetails.poster_path
        "
        alt=""
        *ngIf="seasonDetails.poster_path"
      />
    </div>
    <div class="flex-grow-1 px-3">
      <h1 class="fw-bold mb-0">
        {{ seasonDetails.name }} ({{ seasonDetails.air_date | date: "yyyy" }})
      </h1>
      <p class="mb-0">{{ seasonDetails.overview }}</p>
      <h2 class="mb-0">
        <span class="display-6 text-muted">{{
          seasonDetails.episodes.length
        }}</span>
        Episodes
      </h2>
    </div>
  </div>
  <div class="episodes-detail">
    <div
      class="card card-radius-only my-3"
      *ngFor="let episode of seasonDetails.episodes; let i=index;"
    >
      <div class="d-flex align-items-center expand-border">
        <div class="flex-shrink-0">
          <img
            [src]="
              _configuration._config.images.base_url +
              _configuration._config.images.still_sizes[1] +
              episode.still_path
            "
            [alt]="episode.name"
            *ngIf="episode.still_path"
            class="still-images-radius still-images-height"
          />
        </div>
        <div class="flex-grow-1">
          <div class="py-3 px-2">
            <div class="d-flex">
              <p class="fw-bold mb-1 me-auto pe-2">{{ episode.name }}</p>
              <p class="text-muted">
                {{ episode.air_date | date: "dd MMM, yyyy" }}
              </p>
            </div>
            <p class="mb-0">
              {{ episode.overview }}
            </p>
          </div>
        </div>
      </div>
      <p class="d-flex justify-content-center align-items-center mb-0 py-2">
        <a [routerLink]="" class="text-decoration-none text-dark" (click)="expandCrews(episode.name)">Expand >></a>
      </p>
      <div
        class="row mx-4" [ngClass]="(!(episode.name === selectedEpisode)) ? 'd-none' : ''"
        *ngIf="episode?.crew?.length > 0 && episode?.guest_stars?.length > 0"
      >
        <div class="col-sm-12 col-md-4 ps-3 pt-3">
          <p class="mb-1 fw-bold">
            Crews
            <span class="text-muted fw-normal">{{ episode.crew.length }}</span>
          </p>
          <p class="mb-1 fw-bold">
            Directed By:
            <span class="fw-normal">{{ directedBy(episode.crew) }}</span>
          </p>
          <p class="mb-1 fw-bold">
            Written By:
            <span class="fw-normal">{{ writtenBy(episode.crew) }}</span>
          </p>
        </div>
        <div class="col-sm-12 col-md-8">
          <p class="mb-1 fw-bold">Guest Stars <span class="fw-normal">{{episode.guest_stars.length}}</span></p>
          <div class="row">
            <div class="col-6" *ngFor="let guests of episode.guest_stars">
              <div class="d-flex align-items-center py-2">
                <div class="flex-shrink-0 pe-2">
                  <img
                    [src]="
                      _configuration._config.images.base_url +
                      _configuration._config.images.profile_sizes[0] +
                      guests.profile_path
                    "
                    [alt]="guests.name"
                    class="rounded"
                    *ngIf="guests.profile_path"
                  />
                </div>
                <div class="flex-grow-1 pe-2">
                  <p class="mb-0 fw-bold">{{ guests.name }}</p>
                  <p class="mb-0 text-muted">{{ guests.character }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4"></div>
      </div>
      <!-- <div class="row">
        <div class="col-2">
          <img
            [src]="
              _configuration._config.images.base_url +
              _configuration._config.images.still_sizes[1] +
              episode.still_path
            "
            [alt]="episode.name"
            *ngIf="episode.still_path"
            class="still-images-radius"
          />
        </div>
        <div class="col-10">
          <div class="py-3">
            <p class="fw-bold mb-1">{{ episode.name }}</p>
            <p class="mb-0 pe-2">
              {{ episode.overview }}
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</ng-container>
