<nav class="navbar navbar-expand-lg navbar-light bg-nav">
  <div class="container">
    <a class="navbar-brand" routerLink="">Moviest</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="movieDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            href="#"
            >Movie</a
          >
          <ul class="dropdown-menu" aria-labelledby="movieDropdown">
            <li><a class="dropdown-item" routerLink="/movies/now-playing" routerLinkActive="active">Now Playing</a></li>
            <li><a class="dropdown-item" routerLink="/movies/popular" routerLinkActive="active">Popular</a></li>
            <li><a class="dropdown-item" routerLink="/movies/top-rated" routerLinkActive="active">Top Rated</a></li>
            <li><a class="dropdown-item" routerLink="/movies/upcoming" routerLinkActive="active">Upcoming</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="movieDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            href="#"
            >TV Show</a
          >
          <ul class="dropdown-menu" aria-labelledby="movieDropdown">
            <li><a class="dropdown-item" routerLink="/tv-show/airing-today" routerLinkActive="active">Airing Today</a></li>
            <li><a class="dropdown-item" routerLink="/tv-show/popular" routerLinkActive="active">Popular</a></li>
            <li><a class="dropdown-item" routerLink="/tv-show/top-rated" routerLinkActive="active">Top Rated</a></li>
            <li><a class="dropdown-item" routerLink="/tv-show/on-air" routerLinkActive="active">On Air</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/people/popular">People</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
