<h1 class="m-3">Latest Movies</h1>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <ng-container *ngIf="latestMovieList">
      <div class="row">
        <div class="col-12">
          <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pages" [length]="pageLength" (page)="pageEvent($event)"></mat-paginator>
        </div>
      </div>
      <div [appLoader]="loadingTrending" class="row row-cols-1 row-cols-md-5">
        <ng-container *ngIf="!loadingTrending">
          <div class="col mt-2" *ngFor="let latest of latestMovieList">
            <!-- (click)="openDialog(np.id)  [routerLink]="['/movies/details', np.id]"-->
            <a
              [routerLink]=""
              class="text-decoration-none text-dark"
              (click)="openDialog(latest.id)"
            >
              <div class="card card-shadow h-100">
                <img
                appImageLoader
                  [src]="_configurationService.imageUrl + latest.poster_path"
                  class="card-img-top"
                />
                <div class="card-body">
                  <p class="card-title fw-bold mb-0">{{ latest.title }}</p>
                  <p class="card-subtitle mb-2 text-muted">
                    {{ latest.release_date | date: "dd MMM, yyyy" }}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
